In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
vfinal = pd.read_csv("vfinal.csv")

In [2]:
vfinal

    rango_edad  estatura_m       sexo  peso_lbs  curso
0      18 a 22        1.62   Femenino     114.0      2
1      18 a 22        1.90  Masculino     210.0      2
2      18 a 22        1.75  Masculino     133.0      2
3      18 a 22        1.60   Femenino     130.0      2
4      18 a 22        1.75  Masculino     155.0      2
..         ...         ...        ...       ...    ...
254    18 a 22        1.70   Femenino     150.0      3
255    18 a 22        1.69   Femenino     135.0      3
256    18 a 22        1.76  Masculino     164.0      3
257    18 a 22        1.66  Masculino     140.0      3
258    18 a 22        1.54  Masculino     140.0      3

[259 rows x 5 columns]

In [29]:
primero = vfinal[vfinal.curso == 1]

In [30]:
m1 = np.mean(primero.peso_lbs)

In [31]:
m1

148.36904761904762

In [32]:
segundo = vfinal[vfinal.curso == 2]
m2 = np.mean(segundo.peso_lbs)
m2

147.8681818181818

In [33]:
tercero = vfinal[vfinal.curso == 3]
m3 = np.mean(tercero.peso_lbs)
m3

159.13432835820896

In [34]:
# ploteando grafico

In [ ]:
ig, ax = plt.subplots()
pesos = [m1, m2, m3]
ano = ["Primero", "Segundo", "Tercero"]
ax.bar(ano, pesos)

ax.set(xlabel = "Año", ylabel = "Peso (lbs)", title = "Peso Promedio Según Año, Estudiantes Zamorano")

plt.show()